<!-- navbar section start -->

<div class="row">
    <div class="col-md-12">

```
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">

        <a href="/" class="navbar-brand" style="text-shadow:10px 10px 5px gray;">
            Home Fitness
        </a>

        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav">

                <a href="/" class="nav-link active">Home</a>

                <a href="/mensattire" class="nav-link active">
                    Men's Apparel
                </a>

                <a href="/womensattire" class="nav-link active">
                    Women's Apparel
                </a>

                <a href="/accesories" class="nav-link active">
                    Accessories
                </a>

                <a href="/healthproducts" class="nav-link active">
                    Other Products
                </a>

                <a href="/wellnesstips" class="nav-link active">
                    Wellness Tips
                </a>

            </div>

            <!-- CART -->
            <div class="navbar-nav ms-auto me-3">

                <a href="/cart"
                   class="btn btn-dark position-relative">

                    🛒 Cart

                    {% if cart_count > 0 %}
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ cart_count }}
                    </span>
                    {% endif %}

                </a>

            </div>

            <!-- AUTH SECTION -->
            <div class="navbar-nav">

                {% if session.get('key') %}

                    <span class="nav-item nav-link text-dark fw-bold">
                        Welcome {{ session.get('key') }}
                    </span>

                    <a href="/logout"
                       class="btn btn-outline-dark">
                        Log Out
                    </a>

                {% else %}

                    <a href="/login"
                       class="nav-item btn btn-outline-light"
                       data-bs-toggle="modal"
                       data-bs-target="#mymodal">
                        Log In
                    </a>

                    &nbsp;&nbsp;

                    <a href="/signup"
                       class="btn btn-outline-light"
                       data-bs-toggle="modal"
                       data-bs-target="#mymodal2">
                        Sign Up
                    </a>

                {% endif %}

            </div>

        </div>

    </nav>

</div>
```

</div>
<!-- navbar section end -->
