<!-- navbar section start -->
<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">

            <a href="/" class="navbar-brand" style="text-shadow:10px 10px 5px gray;">
                Home Fitness
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <div class="navbar-nav">

                    <a href="/" class="nav-link active">Home</a>

                    <a href="/accesories" class="nav-item nav-link active">Accessories</a>

                    <a href="/healthproducts" class="nav-item nav-link active">Others products</a>

                    <a href="/wellnesstips" class="nav-item nav-link active">Wellness Tips</a>

                </div>

            </div>

            <!-- =========================
                 AUTH SECTION (FIXED)
            ========================== -->
            <div class="navbar-nav ms-auto">

                {% if session.get('key') %}

                    <!-- USER LOGGED IN -->
                    <span class="nav-item nav-link text-dark">
                        Welcome {{ session.get('key') }}
                    </span>

                    <a href="/logout" class="btn btn-outline-dark">
                        Log Out
                    </a>

                {% else %}

                    <!-- USER NOT LOGGED IN -->
                    <a href="/login"
                       class="nav-item btn btn-outline-light"
                       data-bs-toggle="modal"
                       data-bs-target="#mymodal">
                        Log In
                    </a>

                    &nbsp;&nbsp;

                    <a href="/signup"
                       class="btn btn-outline-light"
                       data-bs-toggle="modal"
                       data-bs-target="#mymodal2">
                        Sign up
                    </a>

                {% endif %}

            </div>

        </nav>

    </div>
</div>
<!-- navbar section end -->