<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>

    <!-- css supporting files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
    <!-- js supporting files -->
    <script src="../static/files/js/bootstrap.min.js"></script>
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>

</head>
<body style="background-image: url(../static/images/R.jpeg);background-attachment: fixed; background-repeat:no-repeat; ">
    <div class="container-fluid">
        <!-- we are using jinja2 to connect navbar.html to  -->
        {% include 'navbar.html' %}

        <div class="row">
            <div class="col-md-12 m-2">
                <div class="card shadow p-2">
                    <h5 class="m-2">{{message}}</h5>
                        <form action="/upload" method="POST" enctype="multipart/form-data" class="form-control">
                            <!-- action att specifies a url to which the form's data is sent when submitted. method att tells the ... how to send data to a web server. enctype att allows upload of non-text data like images, audio etc -->
                            <label for="ITEM">ITEM</label>
                            <br>
                           <input type="text" class="form-control" name="item" required>
                           <br>
                           <label for="item description">description</label>
                            <br>
                           <input type="text" class="form-control" name="description" required>
                           <br>
                           
                           <label for="current price">current price</label>
                           <br>
                           <input type="text" class="form-control" name="currentp" required>
                           <br>
                           <label for="item category">item category</label>
                           <br>
                           <select class="form-control" name="category" required>
                            <option value="offers">offers</option>
                            <option value="other">other</option>
                            <option value="menstops">menstops</option>
                            <option value="womenstops">womenstops</option>
                            <option value="mensbt">mensbt</option>
                            <option value="womensbt">womensbt</option>
                            <option value="mensattire">mensattire</option>
                            <option value="accesories">accesories</option>
                            <option value="accesories1">accesories1</option>
                            <option value="womensattire">womenattire</option>
                           </select>
                           <br>
                           <label for="image">image</label>
                           <br>
                           <input type="file" class="form-control" name="image" required>
                           <br><br>
                                <div class="card shadow p-3 text-center" style="background-color: rgb(201, 80, 80);">
                                <h3>Upload</h3>
                                <button type="submit" class="btn btn-outline-danger" required>Add/Upload</button>
                                <br>
                                <br>
                                </div>
                        </form>
                </div>
                <br>
                <br>
                
            </div>
        </div>
        {% include 'help.html' %}
    </div>
    
</body>
</html>